/* =========================
   GOOGLE FONTS
   ========================= */
@import url('https://fonts.googleapis.com/css2?family=Sonsie+One&family=protest+guerrilla&family=Tac+One&family=Pacifico&family=Comic+Neue:wght@400;700&family=Bungee&family=Bitcount+Single&display=swa p&family=Henny+Penny');

/* =========================
   GLOBAL RESET & BASE
   ========================= */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  background: #081531;
  color: #e5e7eb;
}

/* =========================
   FONT ASSIGNMENTS
   ========================= */

/* Title */
h1 {
  font-family: 'Tac One', cursive;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
}

/* Section headings */
h2 {
  font-family: 'Pacifico', cursive;
}

/* Normal text */
body,
label,
p {
  font-family: 'Henny Penny', cursive;
}

/* Input + select text */
input,
select {
  font-family: 'Comic Neue', cursive;
}

/* Default buttons */
button {
  font-family: 'Bungee', cursive;
}

/* =========================
   SCREEN TRANSITIONS
   ========================= */

.screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;

  opacity: 0;
  transform: translateY(12px);
  pointer-events: none;

  transition: opacity 0.3s ease, transform 0.3s ease;
}

.screen.active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

/* =========================
   CARD LAYOUT
   ========================= */

.card {
  background: #2fc87e;
  color: #081531;
  border-radius: 16px;
  padding: 2px;
  max-width: 700px;
  margin: 40px auto;
  box-shadow: 0 20px 40px rgba(0,0,0,0.35);
}

#home .card {
  text-align: center;
}

#home h1 {
  font-size: 6rem;
  margin-bottom: 10px;
}

#home h2 {
  font-size: 2.5rem;
  margin-bottom: 24px;
}

#home p {
  font-size: 1.25rem;
  margin-bottom: 32px;
}

#home button {
  display: block;
  width: 100%;
  max-width: 420px;

  margin: 12px auto;
  padding: 14px 20px;

  font-size: 1.05rem;
  border-radius: 14px;

  border: none;
  cursor: pointer;

  background: #1f2937;
  color: #f9fafb;
}

#home button:hover {
  background: #374151;
}

#home button:active {
  transform: scale(0.98);
}

#home button.primary {
  background: #1f2937;
}

#home button.primary:hover {
  background: #f9fafb;
}

#home button.primary:active {
  transform: scale(0.98);
}

